/*Colores*/
/*Primer Paleta*/
/*Segunda Paleta*/
/*@include size(Valores)*/
.encabezado {
  box-shadow: 0 0 25px black;
  background-color: #2a0000;
  font-family: 'Merriweather', serif;
  text-align: center;
  letter-spacing: 8px;
  height: 9.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .encabezado .cafestore {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin: 0 3rem;
    color: #c57d56; }
  .encabezado .titulo {
    text-decoration: none !important; }
  .encabezado h1 {
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 3.3rem;
    font-weight: 1000; }

/*-----------------------------Queries----------------------------------------*/
@media (max-width: 992px) {
  .encabezado {
    letter-spacing: 2px; }
    .encabezado .cafestore {
      font-size: 2.3rem; }
    .encabezado h1 {
      display: flex;
      justify-content: center;
      color: whitesmoke;
      font-size: 2.8rem;
      font-weight: 1000; } }

@media (max-width: 645px) {
  .encabezado {
    letter-spacing: none; }
    .encabezado .cafestore {
      display: relative; }
    .encabezado .fasa {
      display: none; }
    .encabezado h1 {
      font-size: 2rem;
      letter-spacing: none; } }

@media (max-width: 440px) {
  .encabezado {
    width: 100% !important; }
  .cafestore {
    font-size: 1.2rem !important;
    margin-left: 1rem !important;
    padding-right: 0; }
    .cafestore h1 {
      font-size: 1.4rem !important;
      margin-left: 0 !important;
      padding-right: 15px !important; } }

nav {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  background-color: #582417 !important;
  box-shadow: 0 0 25px black; }
  nav .container-fluid {
    background-color: #430d06;
    margin: 0;
    height: 4.5rem; }
    nav .container-fluid .nav-item {
      margin: 1rem;
      font-size: 1.4rem;
      font-weight: 800;
      font-family: "Roboto", sans-Serif; }
      nav .container-fluid .nav-item:hover {
        background-color: #ffb48a;
        border-radius: 25px;
        transition: ease 1s; }
      nav .container-fluid .nav-item a {
        color: white !important; }
    nav .container-fluid .navbar-toggler {
      position: absolute;
      width: 4rem;
      background: #c57d56;
      margin: 1rem; }

.dropdown-menu {
  background-color: #ffb48a;
  color: black; }
  .dropdown-menu .dropdown-item {
    color: black !important; }
    .dropdown-menu .dropdown-item:hover {
      background-color: #06e992; }

.icono {
  margin-left: 10px;
  color: #ffb48a;
  font-size: 25px;
  width: 55px; }

.btn {
  background-color: white;
  color: #8d4925; }
  .btn:hover {
    background-color: #582417;
    transition: ease 2s; }

/*------------------------------------------Queries---------------------------------------------*/
@media (max-width: 1400px) {
  .nav-item {
    padding: 0; } }

@media (max-width: 990px) {
  button {
    position: absolute;
    margin: 0;
    padding: 0; }
  .container-fluid {
    background-color: #c57d56;
    margin-top: 20px; }
    .container-fluid .collapse {
      margin-top: 5rem;
      background-color: #ffb48a;
      border: 1px solid black;
      border-radius: 2px;
      max-width: 60%;
      height: 550px; }
      .container-fluid .collapse .nav-item {
        border: 2px solid black;
        background-color: #c57d56;
        border-radius: 1rem;
        text-align: center; }
        .container-fluid .collapse .nav-item:hover {
          background-color: #06e992;
          transition: ease 1s; }
      .container-fluid .collapse .d-flex {
        padding: 1rem;
        background-color: rgba(106, 111, 136, 0.678);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin: 1.8rem 0; }
        .container-fluid .collapse .d-flex .form-control {
          margin-left: 1rem; }
        .container-fluid .collapse .d-flex i {
          color: black; } }

@media (max-width: 648px) {
  .navbar-toggler {
    margin: 0 auto;
    padding: 0 auto; }
  .container-fluid .collapse {
    background-color: #430d06;
    border: 1px solid black;
    border-radius: 2px;
    max-width: 60%;
    height: 550px; }
    .container-fluid .collapse .nav-item {
      border: 1px solid black;
      background-color: #c57d56;
      border-radius: 10px;
      text-align: center; }
    .container-fluid .collapse .d-flex {
      display: flex;
      justify-content: center; }
      .container-fluid .collapse .d-flex .form-control {
        margin-left: 1rem; }
      .container-fluid .collapse .d-flex i {
        color: black; } }

/*-----------------------------Index----------------------------------------*/
#container {
  background-color: #ffb48a; }
  #container .news h1 {
    margin: 1rem;
    border: 3px solid black;
    border-radius: 6px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    height: 40px; }
    #container .news h1:hover {
      background-color: #8d4925;
      transition: 1s ease-out; }
    #container .news h1 i {
      margin: 3px 1rem; }
  #container .news .accordion {
    margin: 0 auto;
    margin-left: 20px; }
    #container .news .accordion .accordion-button {
      background-color: #c57d56;
      font-family: "Roboto", sans-Serif;
      font-weight: 900; }
      #container .news .accordion .accordion-button:hover {
        color: #06e992; }
    #container .news .accordion .accordion-body {
      background-color: #582417;
      font-family: "Roboto", sans-Serif;
      font-weight: 500;
      font-size: 1rem;
      color: white; }
      #container .news .accordion .accordion-body .tit {
        font-weight: 1100;
        color: #06e992;
        font-size: 1.2rem; }
  #container #carouselExampleCaptions {
    box-shadow: 0 0 15px black;
    margin: 1.2rem; }
    #container #carouselExampleCaptions .carousel-inner {
      border: 3px solid black;
      border-radius: 6px; }
      #container #carouselExampleCaptions .carousel-inner h5, #container #carouselExampleCaptions .carousel-inner p {
        color: white;
        font-weight: 800;
        font-size: 1.2rem; }

/*------------------------------------------Queries---------------------------------------------*/
@media (max-width: 800px) {
  .fasb {
    display: none; }
  .accordion {
    margin-right: 10px !important; }
  .accordion-item {
    margin: 10px auto; } }

@media (max-width: 430px) {
  .carousel-inner h5, .carousel-inner p {
    margin-top: 1rem;
    color: white;
    font-weight: 300;
    font-size: 0.5rem; } }

/*---------------------------------Productos----------------------------------------*/
#contenedor-productos {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #contenedor-productos .card {
    margin: 20px;
    background-color: #c57d56; }
    #contenedor-productos .card h5 {
      font-size: 1.3rem;
      font-weight: 900;
      font-family: "Roboto", sans-Serif; }

.modal-header {
  background-color: #582417; }

.modal-title {
  color: white; }

.modal-body {
  background-color: #c57d56; }

.contenedor-carrito {
  display: flex;
  justify-content: space-between; }

.precioProducto {
  background-color: #430d06;
  color: white;
  text-align: center; }

p {
  margin: 0; }

.modal-footer {
  background-color: #0474b4; }

.boton {
  display: flex;
  justify-content: space-between; }

.card {
  height: 400px; }

.card img {
  height: 200px; }

.card-title {
  background-color: #8d4925;
  border-radius: 6px; }

.card-text {
  font-family: "Roboto", sans-Serif; }

.icono {
  color: #ffb48a; }

/*------------------------------------------Queries---------------------------------------------*/
@media (max-width: 470px) {
  .cartas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; } }

/*-----------------------------Contacto----------------------------------------*/
.contact {
  margin-top: 2rem;
  border: 1px solid black;
  display: flex;
  background-color: #430d06; }
  .contact form {
    width: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px; }
    .contact form h2 {
      color: white;
      text-align: center;
      margin: 0;
      font-size: 1.5rem;
      margin-bottom: 20px;
      font-weight: 600; }
    .contact form input, .contact form textarea {
      width: 100%;
      margin-bottom: 1.1rem;
      padding: 7px;
      box-sizing: border-box;
      font-size: 1.3rem; }
    .contact form textarea {
      min-height: 90px;
      max-height: 200px; }
    .contact form .boton {
      border: 1px solid black;
      color: black;
      display: flex;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 20px; }
      .contact form .boton:hover {
        background-color: #ffb48a;
        transition: 0.5s ease-out;
        cursor: pointer;
        color: white; }
  .contact .telcontac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    font-weight: 600;
    color: white;
    font-size: 1.4rem; }

/*------------------------------------------Queries---------------------------------------------*/
@media (max-width: 470px) {
  .contact {
    display: flex;
    flex-direction: column; }
    .contact form {
      width: 300px;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px 20px;
      box-sizing: border-box;
      border-radius: 7px; }
    .contact .telcontac {
      text-align: center; } }

/*---------------------------- Marcas ----------------------------------------*/
.section_marcas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #c57d56; }
  .section_marcas .card {
    background: #8d4925;
    margin: 1.2rem; }
    .section_marcas .card h5 {
      color: white;
      background-color: #582417;
      border-radius: 14px;
      font-size: 1.4rem;
      font-weight: 900; }
    .section_marcas .card p {
      font-size: 1.1rem;
      font-weight: 900; }
    .section_marcas .card a {
      font-size: 1rem;
      font-weight: 600; }
    .section_marcas .card img {
      background-color: white; }

/*----------------------------- Log in ----------------------------------------*/
.form_login {
  background: #8d4925;
  margin: 4rem;
  padding: 1.5rem;
  height: 400px; }
  .form_login .btn {
    width: 14rem;
    height: 3.3rem; }

/*------------------------------------------Queries---------------------------------------------*/
@media (max-width: 600px) {
  .form_login {
    margin: 2rem;
    padding: 1.1rem;
    height: 425px; } }

.footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  .footer .container {
    max-width: 1170px;
    margin: 50px auto;
    background-color: #430d06; }
    .footer .container .row {
      box-shadow: 0 0 25px black;
      display: flex;
      flex-wrap: wrap; }
      .footer .container .row .footer-col {
        width: 33%;
        padding: 15px 20px; }
        .footer .container .row .footer-col ul {
          list-style: none;
          text-decoration: none;
          margin: 15px 0 0 0;
          padding: 0;
          font-family: "Roboto", sans-Serif; }
          .footer .container .row .footer-col ul li {
            margin-bottom: 8px; }
            .footer .container .row .footer-col ul li a {
              font-size: 1.1rem;
              font-weight: 600;
              text-transform: capitalize;
              color: white;
              text-decoration: none;
              list-style: none; }
              .footer .container .row .footer-col ul li a:hover {
                padding-left: 8px;
                transition: all 0.5s ease;
                color: #ce6e00; }
        .footer .container .row .footer-col h4 {
          font-family: "Roboto", sans-Serif;
          font-size: 1.3rem;
          color: #ffffff;
          text-transform: capitalize;
          margin: 10px 0;
          font-weight: 900;
          position: relative; }
        .footer .container .row .footer-col .social-links {
          display: flex;
          flex-direction: column; }
          .footer .container .row .footer-col .social-links a {
            text-decoration: none;
            margin: 10px 0;
            padding: 0;
            font-family: "Roboto", sans-Serif;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: capitalize;
            color: white; }
            .footer .container .row .footer-col .social-links a:hover {
              padding-left: 8px;
              transition: all 0.5s ease;
              color: #ce6e00; }
            .footer .container .row .footer-col .social-links a i {
              color: white;
              font-size: 1.3rem;
              margin-left: 10%; }
              .footer .container .row .footer-col .social-links a i:hover {
                color: lightblue; }
        .footer .container .row .footer-col h4::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -10px;
          background-color: #c08009;
          height: 2px;
          box-sizing: border-box;
          width: 70%;
          /*CAMBIO DE RENGLON FOOTER*/ }
  .footer .cr {
    display: flex;
    justify-content: space-evenly;
    background-color: #c57d56; }
    .footer .cr h2, .footer .cr h3, .footer .cr a {
      margin: 10px 10px;
      color: black;
      font-size: 1rem;
      font-weight: 600; }

/*------------------------------------------Queries---------------------------------------------*/
@media (max-width: 770px) {
  .footer {
    margin: auto;
    width: 80%;
    align-items: center; }
    .footer .row {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer .row .footer-col {
        margin-left: 2rem;
        margin-bottom: 1rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #945003;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23583403' fill-opacity='0.25' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
  font-size: 20px;
  font-family: "Roboto", sans-Serif; }

.contenedor {
  width: 90%;
  margin: 0 auto; }

.bg-dark {
  background-color: #2a0000 !important;
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
  color: white; }

/*------------------------------------------Queries---------------------------------------------*/
@media (max-width: 440px) {
  .cr {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important; } }
