/*Colores*/
/*@include size(Valores)*/
body {
  font-family: "Roboto", sans-Serif;
  background-color: #582417; }

.encabezado {
  grid-area: header;
  background-color: #2a0000;
  font-family: 'Merriweather', serif;
  text-align: center;
  letter-spacing: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .encabezado h1 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 72px;
    font-weight: 1000; }

.container-fluid {
  background-color: #8d4925;
  margin: 0;
  height: 5rem;
  width: 100%;
  font-weight: 800;
  font-family: "Roboto", sans-Serif; }
  .container-fluid .navbar-brand:hover {
    background-color: #ffb48a;
    border-radius: 25px;
    transition: ease 1s; }
  .container-fluid .nav-item {
    margin: 3rem;
    font-size: 1.3rem;
    font-weight: 800;
    font-family: "Roboto", sans-Serif; }
    .container-fluid .nav-item:hover {
      background-color: #ffb48a;
      border-radius: 25px;
      transition: ease 1s; }

.btn {
  color: #2a0000; }
  .btn:hover {
    background-color: #582417;
    transition: ease 3s; }

/*---------------------------------------------------------------------------------------*/
.navegador {
  grid-area: nav;
  background-color: #582417; }
  .navegador ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    margin: 0; }
    .navegador ul :hover {
      color: black;
      background-color: #c57d56;
      transition: 0.6s ease;
      border-radius: 5px; }
    .navegador ul li {
      display: inline-block;
      color: white;
      text-decoration: none;
      list-style-type: none;
      list-style: none;
      padding: 5px; }
      .navegador ul li a {
        color: white;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none; }
      .navegador ul li button {
        width: 80px;
        height: 50px; }
        .navegador ul li button:hover {
          background-color: #ffb48a; }

.carrito {
  width: 55px;
  height: 100%;
  padding: 0;
  margin: 0; }

/* .section{
    grid-area: section;
    grid-column: span 2;
    background-color: #85593f;
    width: 100%;
    div{
        display: flex;
    }
}
#contacto{
    align-items: center;
    text-align: center;
} */
/*-----------------------------Index----------------------------------------*/
/*-----------------------------Contacto----------------------------------------*/
.section_contacto {
  margin: 0;
  background-color: #8d4925;
  opacity: initial;
  text-align: center; }
  .section_contacto .titulo_contacto {
    display: flex;
    justify-content: center; }

#contacto {
  background-color: #c57d56;
  display: inline-block;
  align-items: center;
  border: 2px solid #2a0000;
  margin: 20px; }
  #contacto li {
    list-style-type: none; }

.btn-default {
  border: 1px solid black;
  margin: 20px 0px 20px 0px;
  width: 200px;
  height: 50px; }
  .btn-default:hover {
    background-color: #8d4925;
    transition: 0.5s ease-out; }

/*---------------------------------Productos----------------------------------------*/
.table {
  margin: 20px; }

.contenedor_table {
  background-color: #c57d56;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contenedor_table .productos_table {
    border: 1px solid black;
    border-radius: 5px;
    align-content: center; }
  .contenedor_table .cartas {
    display: flex;
    justify-content: space-around;
    margin: 8px; }
    .contenedor_table .cartas .card {
      margin: 15px;
      border: 3px solid grey;
      border-radius: 5px; }
      .contenedor_table .cartas .card .card-body a {
        display: flex;
        align-items: flex-end; }

.navigation {
  background-color: #c57d56;
  display: flex;
  justify-content: center; }

/*---------------------------- Marcas ----------------------------------------*/
.section_marcas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #c57d56; }

/*----------------------------- Log in ----------------------------------------*/
.bg-dark {
  background-color: #2a0000 !important;
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
  color: red; }

.img-fluid {
  border-radius: 25px;
  height: 80px;
  width: 150px; }

.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.carousel-item {
  width: 100%; }
  .carousel-item img {
    height: 400px;
    width: 300px; }

.contenedorfooter {
  grid-area: footer;
  background-color: #212329;
  padding-bottom: 25px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2a0000; }
  .contenedorfooter div a {
    color: white;
    text-decoration: none;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 500; }
    .contenedorfooter div a:hover {
      color: red;
      transition: 0.3s ease-out; }

.footer {
  width: 100%;
  height: 60vh;
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 2px solid white; }

.uno, .dos, .tres {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  margin-bottom: 40px;
  margin-top: 25px; }

/*Estilo*/
.destacados {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 12px; }

.submit {
  width: 230px;
  height: 25px; }
  .submit:hover {
    font-weight: 400;
    color: black;
    background-color: #85593f;
    transition: 1.5s ease; }

textarea {
  resize: none; }

.fab {
  color: #c57d56; }
  .fab:hover {
    color: lightblue; }
