.contenedorfooter{
    grid-area: footer;
    background-color: #212329;
    padding-bottom: 25px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
        @if $fondo == true {
            background-color: $color1;}
            @else { 
                background-color: $color5;
            }
        
        div a {
            color: white;
            text-decoration: none;
            margin-bottom: 12px;
            font-size: 15px;
            font-weight: 500;
            &:hover {
                color: red;
                transition: 0.3s ease-out;
            }
    } 
}
.footer{
    width: 100%;
    height: 60vh;
    background-color: black;
    color: whitesmoke;  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px solid white;
}
.uno ,.dos ,.tres{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    margin-bottom: 40px;
    margin-top: 25px;
}
/*Estilo*/
.destacados{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 12px;
}
.submit{
    width: 230px;
    height: 25px;
        &:hover{
        font-weight: 400;
        color: black;
        background-color: #85593f;
        transition: 1.5s ease;
    }
}
textarea{
    resize: none;
}
.fab{
    color: $color4;
}