.encabezado{
    box-shadow: 0 0 25px black;
    background-color: $color1;
    font-family: 'Merriweather', serif;
    text-align: center;
    letter-spacing: 8px;
    height: 9.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
        .cafestore{
            display: flex;
            justify-content: center;
            font-size: 3rem;
            margin: 0 3rem;
            color: $color4;
            }
            .titulo{
                text-decoration: none !important;
            }
            h1{
            text-decoration: none !important;
            display: flex;
            justify-content: center;
            color: whitesmoke;
            font-size: 3.3rem;
            font-weight: 1000;
        }
    }
/*-----------------------------Queries----------------------------------------*/
@media (max-width:1400px){
    
}

@media (max-width:992px){
    .encabezado{
        letter-spacing: 2px;
        .cafestore{
            font-size: 2.3rem;
        }
        h1{
            display: flex;
            justify-content: center;
            color: whitesmoke;
            font-size: 2.8rem;
            font-weight: 1000;
        }
    }
}

@media (max-width:645px){
    .encabezado{
        letter-spacing: none;
        .cafestore{
            display:relative;
        }
        .fasa{
            display:none;
        }
        h1{
            font-size: 2rem;
            letter-spacing: none;
        }
    }
}
@media (max-width:440px){
    .encabezado{
        width: 100% !important;
    }
    .cafestore{
        font-size: 1.2rem !important;
        margin-left: 1rem !important;
        padding-right: 0;
        h1{
            font-size: 1.4rem !important;
            margin-left: 0 !important;
            padding-right: 15px !important;
        }
    }

}