nav{
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
    background-color: $color2 !important;
    box-shadow: 0 0 25px black;

    .container-fluid{  
        background-color: $color6;
        margin: 0;
        height: 4.5rem;

        .nav-item{
            margin: 1rem;
            font-size: 1.4rem;
            font-weight: 800;
            font-family: $font;
            &:hover{
                background-color: $color5;
                border-radius: 25px;
                transition: ease 1s;
                }
                a{
                color: white !important;
                }
            }
            .navbar-toggler{
                position: absolute;
                width: 4rem;
                background: $color4;
                margin: 1rem;
            }
        }
    }
    .dropdown-menu{
        background-color: $color5;
        color: black;
        .dropdown-item{
            color: black !important;
        &:hover{
            background-color: rgb(6, 233, 146);
            }
        }
    }

    .icono{
     margin-left: 10px;
     color: $color5;
     font-size: 25px;
     width: 55px;   
    }


.btn{
    background-color: white;
    color: $color3;
    &:hover{
    background-color: $color2;
    transition: ease 2s;
    }
}

/*------------------------------------------Queries---------------------------------------------*/

@media (max-width:1400px){
    .nav-item{
        padding: 0;
    }
}

@media (max-width:952px){
    
}

@media (max-width:648px){
    button{
        position: absolute;
        margin: 0;
        padding: 0;
    }
    .container-fluid{
        background-color: $color4;
        .collapse{
            background-color:$color5;
            border: 1px solid black;
            border-radius: 2px;
            max-width: 60%;
            height: 500px;
            .nav-item{
                border: 2px solid black;
                background-color: $color4;
                border-radius: 44%;
                text-align: center;
                }
            .d-flex{
                display: flex;
                justify-content: center;
                .form-control{
                    margin-left: 1rem;
                }
                i{
                    color: black;
                }
            }  
        }

    }
}
