nav{
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
    background-color: $color2 !important;

    .container-fluid{   
        border: 1px solid black;
        border-radius: 6px;
        background-color: $color6;
        margin: 0;
        height: 4.5rem;

        .nav-item{
            margin: 3rem;
            font-size: 1.4rem;
            font-weight: 800;
            font-family: $font;
            &:hover{
                background-color: $color5;
                border-radius: 25px;
                transition: ease 1s;
                }
                a{
                color: white !important;
                }
            }
        }
    }
    .dropdown-menu{
        background-color: $color5;
        color: black;
        .dropdown-item{
            color: black !important;
        &:hover{
            background-color: rgb(6, 233, 146);
            }
        }
    }

    .icono{
     margin-left: 10px;
     color: $color5;
     font-size: 25px;
     width: 55px;   
    }


.btn{
    background-color: white;
    color: $color3;
    &:hover{
    background-color: $color2;
    transition: ease 2s;
    }
}
/*---------------------------------------------------------------------------------------*/
.navegador{
    grid-area: nav;
    background-color: $color2;
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid black;
        margin: 0;
        :hover{
            color: black;
            background-color: $color4;
            transition: 0.6s ease;
            border-radius: 5px;
        }
        li {
            display: inline-block;
            color: white;
            text-decoration: none;
            list-style-type: none;
            list-style: none;
            padding: 5px;
            a{
                color: white;
                font-size: 30px;
                font-weight: 600;
                text-decoration: none;  
            }
            button{
                width: 80px;
                height: 50px;
                &:hover{
                    background-color: $color5;
                }
            }
        }
    }
}