
/*-----------------------------Index----------------------------------------*/
#container{
    background-color: $color5;
    .news{
        h1{
        margin: 1rem;
        border: 3px solid black;
        border-radius: 6px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 900;
        height: 40px;
        &:hover{
            background-color: $color3;
            transition: 1s ease-out;
            }
        i{
            margin: 3px 1rem ;
        }
        }
        .accordion{
            margin: 0 auto;
            margin-left: 20px;
            .accordion-button{
                background-color: $color4;
                font-family: $font;
                font-weight: 900;
                &:hover{
                color: rgb(6, 233, 146);
                }   
            }
            .accordion-body{
                background-color: $color2;
                font-family: $font;
                font-weight: 500;
                font-size: 1rem;
                color: white;
                .tit{
                font-weight: 1100;
                color: rgb(6, 233, 146);
                font-size: 1.2rem;
                }   
            }
        }            
    }
    #carouselExampleCaptions{
        box-shadow: 0 0 15px black; 
        margin:1.2rem;
        .carousel-inner{
        border: 3px solid black;
        border-radius: 6px;
        h5, p{
        color: white;
        font-weight: 800;
        font-size: 1.2rem;
            }
        }
    }
}

/*------------------------------------------Queries---------------------------------------------*/

@media (max-width:800px){
    .fasb{
        display: none;
    }
    .accordion{
        margin-right: 10px !important;
    }
    .accordion-item{
        margin: 10px auto;
    }
}
@media (max-width:430px){
    .carousel-inner{
        h5, p{
        margin-top: 1rem;
        color: white;
        font-weight: 300;
        font-size: 0.5rem;
        }
    }
}


/*---------------------------------Productos----------------------------------------*/

#contenedor-productos{
    box-sizing: border-box;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    .card{
        margin: 20px;
        background-color: $color4;
        h5{
            font-size: 1.3rem;
            font-weight: 900;
            font-family: $font;
        }
    }
}
.modal-header{
    background-color: $color2;
}
.modal-title{
    color: white;
}
.modal-body{
    background-color: $color4;
}
.contenedor-carrito{
    display: flex;
    justify-content: space-between;
}
.precioProducto{
    background-color: $color6;
    color: white;
    text-align:center;
}
p{
    margin:0;
}
.modal-footer{
    background-color: rgb(4, 116, 180);
}
.boton{
    display: flex;
    justify-content: space-between;
}
.card{
    height: 400px;
}
.card img{
    height: 200px;
}
.card-title{
    background-color: $color3;
    border-radius: 6px;
}
.card-text{
    font-family: $font;
}
/*------------------------------------------Queries---------------------------------------------*/

@media (max-width: 470px){
    .cartas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}

/*-----------------------------Contacto----------------------------------------*/
 .contact{
     margin-top: 2rem;
     border: 1px solid black;
     display: flex;
     background-color: $color6;
     form{
     width: 450px;
     margin: auto;
     background-color: rgba(0,0,0,0.5);
     padding: 10px 20px;
     box-sizing: border-box;
     border-radius: 7px;
        h2{
        color: white;
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-weight: 600;
        }
        input,textarea{
            width: 100%;
            margin-bottom: 1.1rem;
            padding: 7px;
            box-sizing: border-box;
            font-size: 1.3rem;
        }
        textarea{
            min-height: 90px;
            max-height: 200px;
        }
        .boton{
            border: 1px solid black;    
            color: black;
            display: flex;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 20px;
            &:hover{
                background-color: $color5;
                transition: 0.5s ease-out;
                cursor: pointer;
                color: white;
            }
        }
    }
    .telcontac{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        font-weight:600;
        color: white;
        font-size: 1.4rem;
    }
}
/*------------------------------------------Queries---------------------------------------------*/

@media (max-width: 470px){
    .contact{
        display: flex;
        flex-direction: column;
        form{
            width: 300px;
            margin: auto;
            background-color: rgba(0,0,0,0.5);
            padding: 10px 20px;
            box-sizing: border-box;
            border-radius: 7px;
        }
        .telcontac{
            text-align: center;
        }
    }
}

 


/*---------------------------- Marcas ----------------------------------------*/
    .section_marcas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: $color4;
    .card{
        background: $color3;
        margin:1.2rem;
        h5{
            color: white;
            background-color: $color2;
            border-radius: 14px;
            font-size: 1.4rem;
            font-weight: 900;
        }
        p{
            font-size: 1.1rem;
            font-weight: 900;
        }
        a{
            font-size: 1rem;
            font-weight: 600;
        }
        img{
            background-color: white;
        }
    }
} 


/*----------------------------- Log in ----------------------------------------*/
.form_login{
    background: $color3;
    margin: 4rem;
    padding: 1.5rem;
    height: 400px;
    .btn{
    width: 14rem;
    height: 3.3rem;   
    }
}

/*------------------------------------------Queries---------------------------------------------*/
@media(max-width:600px){
    .form_login{
        margin: 2rem;
        padding: 1.1rem;
        height: 425px;
    }
}