
/*-----------------------------Index----------------------------------------*/
#container{
    background-color: $color5;
    .news{
        h1{
        margin: 1rem;
        border: 3px solid black;
        border-radius: 6px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 900;
        height: 40px;
        &:hover{
            background-color: $color3;
            transition: 1s ease-out;
            }
        i{
            margin: 3px 1rem ;
        }
        }
        .accordion{
            margin: 0 auto;
            margin-left: 20px;
            .accordion-button{
                background-color: $color4;
                font-family: $font;
                font-weight: 900;
                &:hover{
                color: rgb(6, 233, 146);
                }   
            }
            .accordion-body{
                background-color: $color2;
                font-family: $font;
                font-weight: 500;
                font-size: 1rem;
                color: white;
                .tit{
                font-weight: 1100;
                color: rgb(6, 233, 146);
                font-size: 1.2rem;
                }   
            }
        }            
    }
    #carouselExampleCaptions{
        box-shadow: 0 0 15px black; 
        margin:1.2rem;
        .carousel-inner{
        border: 3px solid black;
        border-radius: 6px;
        h5, p{
        color: white;
        font-weight: 800;
        font-size: 1.2rem;
            }
        }
    }
}












/*-----------------------------Contacto----------------------------------------*/
.section_contacto{
    margin: 0;
    background-color: $color3;
    opacity: initial;
    text-align: center;
    .titulo_contacto{
        display: flex;
        justify-content: center;
    }
}
#contacto{
    background-color: $color4;
    display: inline-block;
    align-items: center;
    border: 2px solid $color1;
    margin: 20px;
    li{
    list-style-type: none;
    }
}
.btn-default{
    border: 1px solid black;
    margin: 20px 0px 20px 0px;
    width: 200px;
    height: 50px;
    &:hover{
        background-color: $color3;
        transition: 0.5s ease-out;
    }
}
/*---------------------------------Productos----------------------------------------*/
.table{
    margin: 20px;
}
.contenedor_table{
    background-color: $color4;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .productos_table{
        border: 1px solid black;
        border-radius: 5px;
        align-content: center;
    }
    .cartas{
        display: flex;
        justify-content: space-around;
        margin: 8px;
        .card{
            margin: 15px;
            border: 3px solid grey;
            border-radius: 5px;
            .card-body a{
                display: flex;
                align-items:flex-end;
                
            }
        }
    }
    
}
.navigation{
    background-color: $color4;
    display: flex;
    justify-content: center;
}
/*---------------------------- Marcas ----------------------------------------*/
.section_marcas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $color4;
}

/*----------------------------- Log in ----------------------------------------*/

.bg-dark{
    background-color: $color1 !important ;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    color: red;
}
.img-fluid{
    border-radius: 25px;
    height: 80px;
    width: 150px;
}


.carousel-indicators{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.carousel-item{
    width: 100%;
    img{
        height: 400px;
        width: 300px;
    }
}