
/*Colores*/
/*Primer Paleta*/
$color1 : #2a0000;
$color2 : #582417;
$color3 : #8d4925;
$color4 : #c57d56;
$color5 : #ffb48a;
/*Segunda Paleta*/
$color6 : #430d06;

$font : 'Roboto', sans-Serif;

$fondo: true;


/*@include size(Valores)*/
@mixin size ($ancho, $alto){
    width: $ancho;
    height: $alto;
}


